* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #ccc;
  font-family: sans-serif;
}
.container {
  max-width: 80%;
  margin: 0 auto;
}
.apply-box {
  max-width: 600px;
  padding: 20px;
  margin: 50px auto 0 auto;
  background-color: #fff;
  box-shadow: 4px 3px 5px rgba(1, 1, 1, 0.1);
  border-radius: 10px;
}
